@use '../abstracts/variables' as *;

.game {
  &-screen {
    max-width: $container-width;
    padding: 0 $container-padding;
    margin: 0 auto;
  }
  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
  }
  &-score {
    display: flex;
    align-items: center;
    gap: 5px;
  }
}
