@use '../abstracts/variables' as *;

.game {
  &-screen {
    max-width: $container-width;
    padding: 0 $container-padding;
    margin: 0 auto;
  }

  &-values {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-timer,
  &-score,
  &-moves {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  &-grid {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    // grid-template-rows: repeat(3, 1fr);
  }
}
