@use '../abstracts/variables' as *;
@use 'sass:color';

.start-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;

  min-height: 100vh;

  padding: $spacing-xl;

  background: $color-background;

  &__title {
    margin-bottom: $spacing-md;

    font-size: $font-size-title;
    font-weight: 800;
    letter-spacing: 2px;
    text-align: center;

    color: $color-text-primary;

    text-transform: uppercase;
  }

  &__buttons {
    display: flex;
    flex-direction: column;

    gap: $spacing-lg;

    width: min(100%, 320px);
  }

  &__secondary {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    gap: $spacing-lg;

    margin-top: $spacing-lg;
    width: min(100%, 320px);
  }
}
.start-screen__accent {
  color: $color-warning;
}

.start-screen__subtitle {
  max-width: 600px;

  margin-bottom: $spacing-xxl;

  color: $color-text-secondary;

  font-size: 1.4rem;
  text-align: center;
}

.mode {
  &-classic__btn {
    background: linear-gradient(
      180deg,
      color.adjust($color-classic, $lightness: 6%),
      $color-classic
    );
  }
  &-random__btn {
    background: linear-gradient(180deg, color.adjust($color-random, $lightness: 6%), $color-random);
  }
  &-chaotic__btn {
    background: linear-gradient(
      180deg,
      color.adjust($color-chaotic, $lightness: 6%),
      $color-chaotic
    );
  }
  &-continue__btn {
    background-color: #ffd54f;

    &:disabled {
      opacity: 0.45;
      cursor: not-allowed;
    }
  }
}

.secondary__btn {
  background: $color-surface;
  border: 1px solid $color-border;
}

.start-screen__author {
  margin-top: auto;
  padding-top: 5rem;

  color: $color-text-muted;

  font-size: 0.95rem;
  text-align: center;

  opacity: 0.8;
  display: flex;
  gap: 10px;
  align-items: center;

  &-link {
    font-weight: 600;

    color: $color-text-primary;

    transition: color 0.2s;
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &-github {
    width: 2.5rem;
    height: 2.5rem;
  }
}

.start-screen__author-link:hover {
  color: $color-primary;
}
